spring:
  application:
    name: demo-provider
  redis:
    database: 0
    host: 192.168.252.128
    #host: localhost
    port: 6379
    password:
    pool:
      max-active: 50
      max-wait: -1
      max-idle: 50
    timeout: 0
#kafka
  cloud:
    stream:
      kafka:
        binder:
          brokers: 192.168.252.128:9092
          zk-nodes: 192.168.252.128:2181
          minPartitionCount: 1
          autoCreateTopics: true
          autoAddPartitions: true
      bindings:
        input:
          destination: topic-01
          group: t1
          consumer:
            concurrency: 1
            partitioned: false
        output:
          destination: topic-01
          content-type: text/plain
          producer:
            partitionCount: 1
            partitionKeyExpression: payload.id

server:
  port: 2002

druid:
  jdbc:
    driveClassName: com.mysql.jdbc.Driver
    jdbcUrl: jdbc:mysql://localhost:3306/user
    jdbcUsername: root
    jdbcPassword: root
    dbType: mysql
    maxActive: 30
    initialSize: 1
    maxWait: 60000
    minIdle: 3
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: SELECT 'x'
    testWhileIdle: true
    testOnBrowwon: false
    testOnReturn: false
    filters: stat,wall

mybatis:
  mapper-locations: classpath:mapper/*.xml
  #configLocation: classpath:mybatis-config.xml
eureka:
  client:
    service-url:
      defaultZone: http://localhost:9000/eureka/
  instance:
    hostname: localhost
    instanceId: http://localhost:2002


logging:
  config: classpath:log4j2.xml
  level:
    root: info





